aniso8601==8.0.0
attrs==20.2.0
click==7.1.2
flasgger==0.9.4
Flask==1.1.1
Flask-HTTPAuth==3.3.0
Flask-RESTful==0.3.7
flask-restful-swagger==0.20.1
Flask-Track-Usage==2.0.0
Flask-WTF==0.14.2
importlib-metadata==2.0.0
itsdangerous==1.1.0
Jinja2==2.10.3
jsonschema==3.2.0
MarkupSafe==1.1.1
mistune==0.8.4
pyrsistent==0.17.3
pytz==2020.1
PyYAML==5.3.1
six==1.15.0
urllib3==1.25.7
Werkzeug==0.16.0
WTForms==2.2.1
xlrd==1.2.0
zipp==3.4.0
